@{
    Layout = "";
}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login - BeautySalon</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/BeautySalon.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="/css/login.css" />
</head>

<body class="bg-dark d-flex justify-content-center align-items-center vh-100">
    <div class="bg-white p-5 divLogin">
        <form action="@Url.Content("")" method="post">
            <div class="d-flex justify-content-center">
                <img src="/img/logo.png" alt="Login-icon" class="imgLogoLogin" />
            </div>
            <div class="text-center fs-1 fw-bold">Login</div>
            <div class="input-group mt-4">
                <div class="input-group-text">
                </div>
                <input class="form-control" type="text" name="User" placeholder="Username" />
            </div>
            <div class="input-group mt-2">
                <div class="input-group-text">
                </div>
                <input class="form-control" type="password" name="Pass" placeholder="Password" />
            </div>
            <div class="text-danger text-center mt-2">
                @ViewBag.Error
            </div>
            <button class="btn btn-dark text-white mt-2 w-100 shadow-sm" type="submit">Login</button>
        </form>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>
