@using Microsoft.AspNetCore.Identity;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BeautySalon</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/BeautySalon.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="/css/layout.css" />
    <script src="https://kit.fontawesome.com/24613f9fec.js" crossorigin="anonymous"></script>
    <link rel="manifest" href="~/manifest.json">
    <script type="text/javascript" src="~/js/pwa-app.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-dark bg-black navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    <img src="/img/logo.png" alt="Bootstrap" width="40" height="40">
                    Beauty Salon
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a asp-action="Index" asp-controller="Clientes" class="nav-link active">Home</a>
                        </li>
                        <li class="nav-item">
                            <a asp-action="Index" asp-controller="Clientes" class="nav-link">Citas</a>
                        </li>
                        <li class="nav-item">
                            <a asp-action="Index" asp-controller="Clientes" class="nav-link">Productos</a>
                        </li>
                        <li class="nav-item">
                            <a asp-action="Index" asp-controller="Clientes" class="nav-link">Servicios</a>
                        </li>
                    </ul>
                    <!--Parte del usuario-->
                    <hr class="dropdown-divider" />
                    <div class="d-flex">
                        <div class="div-icon-profile d-flex justify-content-center align-items-center">
                            <i class="fa-solid fa-user icon-profile"></i>
                        </div>
                        <span>&ensp;</span>
                        <div>
                            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        <span class="text-light">@User.Identity.Name</span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="#">My Profile</a></li>
                                        <li><a class="dropdown-item" href="#">Edit</a></li>
                                        <li><hr class="dropdown-divider"></li>
                                        <li><a asp-action="Logout" asp-controller="Account" class="dropdown-item text-danger">Logout</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <div class="d-flex justify-content-end mt-2">
            <!-- App disponible para instalar. &ensp; -->
            <div>
                <button id="install-button" class="btn btn-sm btn-primary" style="display: none;" onclick="installPWA()">Instalar App</button>
            </div>
        </div>
        <hr id="install-hr" style="display: none;" />
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - BeautySalon - Grupo#4 Industria de Software
        </div>
    </footer>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

    <script>
        if ('serviceWorker' in navigator) {
            window.addEventListener('load', function () {
                navigator.serviceWorker.register('/firebase-messaging-sw.js').then(function (registration) {
                    console.log('Service Worker registrado correctamente: ', registration);
                }).catch(function (error) {
                    console.log('Error al registrar el Service Worker: ', error);
                });
            });
        }
    </script>
</body>
</html>

