
@{
    ViewData["Title"] = "Confirmación de pago";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="mt-2 p-5" style="border: 1px solid; border-radius: 25px; background-color: whitesmoke;">
    <div><span><strong>Pago realizado con éxito.</strong></span></div>
    <div><span>La reserva fue pagada con exito. Gracias por su compra.</span></div>
    <div class="mt-2"><a asp-action="Index" asp-controller="Citas" class="btn btn-sm btn-dark text-warning">Aceptar</a></div>
</div>

