@model BeautySalon.Models.CreateModels.CreateEmpleado

@using BeautySalon.Models.DataBase;

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<string> genero = ViewBag.Genero;
    List<RoleEmployee> roles = ViewBag.Rol;
}

<div class="d-flex justify-content-center mt-2 mb-3"><h1>Nuevo Empleado</h1></div>
<h4>Datos del empleado</h4>
<hr />
<div>
    <form asp-action="Create" asp-controller="User" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row">
            <div class="col-6 form-group">
                <label asp-for="FirstName" class="control-label">Nombres</label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="col-6 form-group">
                <label asp-for="LastName" class="control-label">Apellidos</label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
        </div>
    </form>
</div>

<hr />

<div>
    <a asp-action="Index">Volver</a>
</div>

