body {
}

.divLogin {
    border-radius: 25px;
}

.imgLogoLogin {
    width: 100px;
    height: 100px;
    border-radius: 50px;
}

.icon-login{
    font-size:30px;
}

.link{
    text-decoration: none;
}